@import "_variables.scss";
@import "_mixins.scss";

.header {
    background: $red;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 53px 15px 0 15px;
    font-size: 18px;

    &__menu {
        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
        &-item {
            margin-right: 30px;
        }

        &-link {
            text-decoration: none;
            color: $white;
            align-items: center;

            &:hover {
                opacity: 0.7;
            }

            &-btn {
                width: 100px;
                height: 40px;
                background: #093cc0;
                border-radius: 50px;
                font-size: 18px;
                color: $white;
                outline: none;
                border: none;
                font-family: $main-font;
                cursor: pointer;
            }
        }
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 992px) {
    .head__menu-link {
        font-size: 20px;

        &-btn {
            font-size: 20px;
            width: 110px;
        }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .head {
        padding: 53px 40px 0 40px;

        &__logo {
            margin: 0 auto;
        }

        &__menu {
            &-list {
                display: none;
            }
        }
    }
}
