@import "_variables.scss";
@import "_mixins.scss";

.wrap {
    margin: 0 auto;
    margin-top: 175px;
    margin-bottom: 45px;

    &__head {
        @include font-subtitle;
        text-align: center;
    }

    &__benefits {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-top: 45px;

        &-col {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 15px;
            margin-bottom: 50px;
            line-height: 26px;
        
            &:first-child {
                padding: 0;
            }
        
            &:last-child {
                padding: 0;
            }
        
            &-ico {
                width: 71px;
                height: 61px;
            }
        
            &-span {
                @include font-large;
                color: $black;
                margin: 25px 0 20px 0;
            }
        
            &-text {
                @include font-standart;
                color: $red;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .wrap {
        &__benefits {
            flex-direction: column;
    
            &-col {
                width: 70%;
    
                &-ico {
                    width: 110px;
                    height: 90px;
                }
    
                &-span {
                    font-size: 24px;
                }
    
                &-text {
                    font-size: 18px;
                }
            }
        }
    }
}

/* Portrait phones and smaller */
@media (max-width: 575px) {
    .wrap {
        margin-bottom: 0px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .wrap__benefits-col {
        &-ico {
            width: 71px;
            height: 61px;
        }

        &-span {
            font-size: 20px;
        }

        &-text {
            font-size: 14px;
        }
    }
}