@import "_variables.scss";
@import "_mixins.scss";
@import "_header.scss";
@import "_intro.scss";
@import "_main.scss";
@import "_article.scss";
@import "_wrap.scss";
@import "_application.scss";
@import "_checkbox-application.scss";
@import "_presentation.scss";
@import "_works.scss";
@import "_market.scss";
@import "_frame.scss";
@import "_quote.scss";
@import "_plan.scss";
@import "_crew.scss";
@import "_contact.scss";
@import "_checkbox-contact.scss";
@import "_footer.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $main-font;
    color: $black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

::selection {
    background: #f3cf15;
    color: $white;
}
// ---------------------------/media/------------------

/* Large desktops and laptops */
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .br-none {
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container {
        max-width: 700px;
        padding: 0 15px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 575px) {
    .container {
        max-width: 480px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }
}
