@import "_variables.scss";
@import "_mixins.scss";
// -------------------------/main-technical/-------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
}

.font-42 {
    @include font-42;
}

button {
    font-family: inherit;
}

::selection {
    background: #f3cf15;
    color: #fff;
}

a {
    text-decoration: none;
}

.intro {
    background: #af1212;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// -----------------------header---------------------
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 53px 15px 0 15px;
    font-size: 18px;

    &__menu-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    &__menu-item {
        margin-right: 30px;
    }
}

.header__menu-link {
    text-decoration: none;
    color: #fff;
    align-items: center;

    &-btn {
        width: 100px;
        height: 40px;
        background: #093cc0;
        border-radius: 50px;
        font-size: 18px;
        color: #fff;
        outline: none;
        border: none;
        font-family: $font-family1;
        cursor: pointer;
    }
}

.header__menu-link:hover {
    opacity: 0.7;
}

// -----------------------subheader---------------------

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 125px;
}

.subheader__head {
    color: #fff;
    text-align: center;

    & h1 {
        font-size: 72px;
    }

    & h3 {
        margin-top: 35px;
        line-height: 32px;
        font-size: 22px;
        opacity: 0.7;
        font-weight: 300;
    }

    &-input {
        margin-top: 50px;
        width: 320px;
        height: 60px;
        outline: none;
        background: #af1212;
        border-radius: 35px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        text-align: start;
        padding-left: 30px;
        font-size: 20px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.7);
        font-family: "Merriweather", Helvetica, Arial, sans-serif;
    }

    &-btn {
        width: 130px;
        height: 60px;
        border: 2px solid #000;
        background: #000;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
        margin-left: 20px;
        cursor: pointer;
    }

    &-link {
        margin-top: 40px;
        color: rgba(255, 255, 255, 0.4);

        & a {
            @include a-none;
            color: rgba(255, 255, 255, 0.4);
        }

        & a:hover {
            transition-duration: 1s;
            color: rgba(255, 255, 255, 0.2);
        }
    }
}
// --------------------------/main-section--header/----------------------

.main {
    margin-top: 105px;

    &__header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    &__header_head {
        @include font-58;
    }

    &__header_text {
        @include font-18-red;
        margin-top: 35px;
        opacity: 0.7;
    }
}

// -------------------------/main-section--article/-------------------

.main__article {
    margin-top: 195px;

    &_text {
        &-head {
            @include font-42;
            margin-bottom: 15px;
        }
        &-subhead {
            @include font-18-red;
            opacity: 0.9;
            margin-bottom: 15px;
        }
    }
}

// -------------------------/main-section--article-photo/-------------------

.main__article-photo {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;

    &_left {
        width: 600px;
        max-height: 720px;
        display: flex;
        flex-wrap: wrap;
    }

    &_right {
        width: 600px;
        max-height: 720px;
        display: flex;
        flex-wrap: wrap;
    }
}

.photo__ {
    &left_col-1 {
        background: url(../img/blog_2_img_1.jpg) center center / cover no-repeat;
        width: 570px;
        height: 270px;
        margin-bottom: 30px;
        position: relative;
        border-radius: $radius-10;
    }

    &left_col-2 {
        background: url(../img/blog_2_img_2.jpg) center center / cover no-repeat;
        width: 270px;
        height: 390px;
        margin-right: 30px;
        position: relative;
        border-radius: $radius-10;
    }

    &left_col-3 {
        background: url(../img/blog_2_img_3.jpg) center center / cover no-repeat;
        width: 270px;
        height: 390px;
        position: relative;
        border-radius: $radius-10;
    }

    &right_col-4 {
        background: url(../img/blog_2_img_4.jpg) center center / cover no-repeat;
        width: 270px;
        height: 390px;
        margin-right: 30px;
        // margin-top: 30px;
        position: relative;
        border-radius: $radius-10;
    }

    &right_col-5 {
        background: url(../img/blog_2_img_5.jpg) center center / cover no-repeat;
        width: 270px;
        height: 390px;
        // margin-top: 30px;
        position: relative;
        border-radius: $radius-10;
    }

    &right_col-6 {
        background: url(../img/blog_2_img_6.jpg) center center / cover no-repeat;
        width: 570px;
        height: 270px;
        margin-top: 30px;
        position: relative;
        border-radius: $radius-10;
    }
}

.photo__ {
    &left_col-1:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(175, 18, 18, 0.4);
        border-radius: $radius-10;
    }

    &left_col-2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(175, 18, 18, 0.4);
        border-radius: $radius-10;
    }

    &left_col-3::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(175, 18, 18, 0.4);
        border-radius: $radius-10;
    }

    &right_col-4::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(175, 18, 18, 0.4);
        border-radius: $radius-10;
    }

    &right_col-5::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(175, 18, 18, 0.4);
        border-radius: $radius-10;
    }

    &right_col-6::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba(175, 18, 18, 0.4);
        border-radius: $radius-10;
    }
}

.photo__left_col-1,
.photo__left_col-2,
.photo__left_col-3,
.photo__right_col-4,
.photo__right_col-5,
.photo__right_col-6 {
    & span {
        font-size: 14px;
    }

    &_mount {
        width: 130px;
        display: flex;
        height: 30px;
        background: #fff;
        color: #000;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2px;
        border-radius: 10px;
        position: relative;
        float: right;
        text-align: center;
        align-content: center;
        padding-left: 15px;
        align-items: center;
        margin: 25px 20px 0 0;
        opacity: 1;
        cursor: pointer;
    }

    &_link {
        text-decoration: none;
        @include font-22-white;
        position: relative;
        top: 115px;
        left: 15px;
    }
}

.pos-t-l {
    top: 200px;
    left: 25px;
}

.pos-t-l:hover {
    opacity: 0.7;
}

.photo__left_col-1_link:hover,
.photo__right_col-6_link:hover {
    opacity: 0.7;
}

// -------------------------/main-section--wrap-benefits/-------------------

.main__wrap {
    margin: 0 auto;
    margin-top: 175px;
    margin-bottom: 45px;

    &-head {
        @include font-42;
        text-align: center;
    }

    &-benefits {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-top: 45px;
    }
}

.main__wrap-benefits_col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 50px;
    line-height: 26px;

    &:first-child {
        padding: 0;
    }

    &:last-child {
        padding: 0;
    }

    &-ico {
        width: 71px;
        height: 61px;
    }

    &-span {
        @include font-22-black;
        margin: 25px 0 20px 0;
    }

    &-text {
        @include font-16-red;
    }
}

// -------------------------/main-section--application/-------------------

.main__application {
    width: 100%;
    height: 772px;
    background: url(../img/form_1_bg@2x.jpg) center center / cover no-repeat;
    padding: 120px 0;

    &-form {
        max-width: 430px;
        min-height: 530px;
        background: #fff;
        border-radius: $radius-10;
        margin: 0 auto;
        padding: 40px 50px 30px 50px;
        text-align: center;

        &_btn-btn {
            width: 330px;
            height: 50px;
            border: 2px solid #000;
            background: #000;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
        }

        &_text {
            margin-top: 40px;
            @include font-18-red;

            &-link {
                text-decoration: none;
                color: #000;
            }
        }

        &_checkbox {
            margin-top: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;

            &-link {
                text-decoration: none;
                @include font-16_black;
            }
        }
    }
}

.application__hr {
    border: 1px solid #ededed;
    margin-top: 10px;
}

.mt40 {
    margin-top: 40px;
}

.mt20 {
    margin-top: 20px;
}

.main__application-input {
    width: 330px;
    height: 50px;
    outline: none;
    background: #fff;
    border-radius: 35px;
    border: 2px solid #ededed;
    text-align: start;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #af1212;
    font-family: "Merriweather", Helvetica, Arial, sans-serif;
}

// ---------------------/checkbox/------------------
input[type="checkbox"] {
    display: none;
}

label {
    color: #000;
    cursor: pointer;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
    background: #fff;
}

label:before {
    content: " ";
    color: #fff;
    display: inline-block;
    font: 16px/20px "FontAwesome";
    margin-right: 10px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ededed;
    border-radius: 6px;
    border-image: initial;
    vertical-align: middle;
}

input:checked + label:before {
    content: "\f00c";
    background: #000;
}

input:disabled + label:before {
    background: #eee;
    color: #aaa;
}
// ---------------------/checkbox/------------------
// ---------------------/input/------------------
.subheader__head-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    transition: opacity 0.5s linear;
}

.subheader__head-input:focus::placeholder {
    opacity: 0;
}

.subheader__head-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
    transition: opacity 0.5s linear;
}

.main__application-input::placeholder {
    color: #af1212;
    transition: opacity 0.5s linear;
}
.main__application-input:focus::placeholder {
    opacity: 0;
}
// ---------------------/input/------------------
// ------------------------/main-section--presentation/----------------

.main__presentation {
    background: url(../img/application_1_bg@2x.jpg) center center / cover no-repeat;
    padding-top: 100px;
    position: relative;

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &_title {
            margin-top: 30px;
            @include font-58-white;
        }

        &_subtitle {
            margin-top: 15px;
            @include font-22-white;
            opacity: 0.7;
        }
    }
}

.main__presentation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(175, 18, 18, 0.3);
}

.main__presentation-img {
    margin-top: 60px;
    position: relative;

    &_phone {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

// ------------------------/main-section--works/----------------

.main__works {
    padding-top: 105px;
    padding-bottom: 90px;

    &-head {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            @include font-42;
        }

        &_subtitle {
            margin: 15px 0 25px 0;
            @include font-22-red;
            line-height: 32px;
            text-align: center;
        }
    }
}

.main__works-gallery {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    &_block {
        margin-top: 50px;

        &-img img {
            border-radius: $radius-10;
        }

        &-flex {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-link {
                @include font-22-black;
                margin: 20px 0 15px 0;
                display: block;
            }

            &-sublink {
                @include font-14-red;
                line-height: 24px;
                letter-spacing: 2px;
                display: block;
            }
        }
    }
}

.main__works-gallery_block:hover {
    opacity: 0.8;
    cursor: pointer;
}

// ------------------------/main-section--market/----------------

.main__market {
    padding: 100px 0;

    &-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_text {
            padding: 0 15px;
            width: 100%;

            &-title {
                margin-bottom: 25px;
                @include font-58;
                line-height: 70px;
                letter-spacing: 0.5px;
            }

            &-subtitle {
                @include font-16-red;
                line-height: 26px;
            }

            &-btn {
                margin-top: 60px;
                width: 256px;
                height: 60px;
                border: 2px solid #000;
                background: #000;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                border-radius: 50px;
                cursor: pointer;
                outline: none;
            }
        }

        &_img {
            padding: 0 15px;

            &-product-link:hover {
                opacity: 0.8;
                cursor: pointer;
            }

            &-product-img {
                border-radius: $radius-10;
            }
        }
    }
}

.main__market-sell {
    margin: 70px -15px 0 -15px;
    display: flex;
    justify-content: space-between;

    &_unit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
        padding: 0 15px 0 15px;

        &-item {
            &-img {
                border-radius: $radius-10;
            }

            &-img:hover {
                opacity: 0.8;
            }
        }
    }
}

.main__market-sell_unit-price {
    margin-left: 40px;

    &-title {
        font-size: 14px;
        color: #000;
        letter-spacing: 2px;
        line-height: 24px;
        font-weight: 550;
    }

    &-subtitle {
        @include font-16-red;
        margin-top: 5px;
        width: 100%;
    }

    &_block {
        display: flex;
        align-items: flex-end;
        &-link {
            margin-top: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 75px;
            height: 40px;
            border: 2px solid #ededed;
            border-radius: 50px;
            color: #000;
        }

        &-link:hover {
            border-color: #7e7e7e;
        }
    }
}

// ------------------------/main-section--frame/----------------

.main__frame {
    padding: 110px 0 95px 0;
    text-align: center;

    &-title {
        @include font-58;
        margin-bottom: 20px;
    }

    &-subtitle {
        @include font-22-red;
    }

    &-btn {
        margin-top: 60px;
        margin-bottom: 30px;
        width: 263px;
        height: 60px;
        border: 2px solid #000;
        background: #000;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
    }

    &-text {
        @include font-16-red;
    }
}

// ------------------------/main-section--quote/----------------

.main__quote {
    padding: 75px 0;
    text-align: center;

    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_text {
            @include font-22-black;
            margin: 35px 0 45px 0;
        }

        &_img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        &_name {
            margin-top: 20px;
            @include font-18-red;
            color: #000;
        }

        &_subname {
            @include font-14-red;
            letter-spacing: 2px;
        }
    }
}

.fas {
    font-size: 30px;
    line-height: 40px;
    color: #ededed;
}

// ------------------------/main-section--plan/----------------

.main__plan {
    padding: 80px 0 70px 0;

    &-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_text {
            @include font-14-red;
            letter-spacing: 2px;
        }

        &_subtext {
            margin-top: 15px;
            margin-bottom: 45px;
            @include font-42;
        }
    }
}

.main__plan-product {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    &_col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;

        &-name {
            @include font-22-black;
        }

        &-price {
            margin-top: 10px;
            @include font-16-red;
        }

        &-ico {
            margin: 25px 45px 0 45px;
            width: 130px;
            height: 130px;
            background-color: #ededed;
            border-radius: 50%;
            font-size: 62px;
            color: #af1212;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-btn {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 163px;
            height: 50px;
            border: 2px solid #ededed;
            background: #fff;
            border-radius: 50px;
            color: #000;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                border: 2px solid #000;
                background: #000;
                color: #fff;
            }
        }

        &-descr {
            margin-top: 45px;
            line-height: 25px;
            text-align: center;
        }
    }
}

.f-62 {
    font-size: 62px;
    line-height: 72px;
    color: #af1212;
}

// ------------------------/main-section--crew/----------------

.main__crew {
    padding: 105px 0 100px 0;
    background: url(../img/team_2_bg@2x.jpg) center center / cover no-repeat;
    position: relative;

    &-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &_title {
            @include font-42;
            color: #fff;
        }

        &_subtitle {
            margin-top: 15px;
            @include font-22-white;
            opacity: 0.7;
        }
    }
}

.main__crew::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(175, 18, 18, 0.4);
}

.main__crew-body {
    margin-top: 60px;
    background: #fff;
    border-radius: $radius-10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &-block {
        padding: 65px 0 70px 0;
        width: 33.5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-right: 2px solid #dedede;

        &_ico {
            border-radius: 50%;
        }

        &_name {
            @include font-22-black;
            margin: 30px 0 15px 0;
        }

        &_social {
            &-link {
                margin: 0 15px;
            }
        }
    }

    &-block:last-child {
        border-right: none;
        border-bottom: none;
    }
}

.f-22 {
    font-size: 22px;
    color: #af1212;

    &:hover {
        color: #d41010;
    }
}

.main__crew-link {
    margin-top: 70px;
    text-align: center;
    position: relative;

    &_btn {
        width: 198px;
        height: 50px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        color: #fff;
        background: transparent;
        font-size: 18px;
        font-weight: 500;
        outline: none;
        cursor: pointer;

        &:hover {
            border: 2px solid rgb(255, 255, 255);
        }
    }
}

// ------------------------/main-section--contact/----------------

.main__contact {
    padding: 105px 0 100px 0;
    background: url(../img/contact_1_bg@2x.jpg) center center / cover no-repeat;
    position: relative;

    &-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &_title {
            @include font-42;
            color: #fff;
            margin-bottom: 40px;
        }

        &_input {
            display: flex;
            flex-direction: row;

            &-item {
                width: 370px;
                height: 50px;
                outline: none;
                background: transparent;
                border-radius: 35px;
                border: 2px solid rgba(255, 255, 255, 0.4);
                text-align: start;
                padding-left: 30px;
                font-size: 20px;
                font-weight: 600;
                margin: 0 15px 30px 15px;

                &:focus {
                    border-color: rgb(255, 255, 255);
                }
            }
        }

        &_area {
            width: 770px;
            height: 170px;
            outline: none;
            background: transparent;
            border-radius: $radius-10;
            border: 2px solid rgba(255, 255, 255, 0.4);
            text-align: start;
            font-size: 20px;
            font-weight: 600;
            padding: 15px 25px;
            margin-bottom: 40px;
            resize: none;

            &:focus {
                border-color: rgb(255, 255, 255);
            }
        }

        &_block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            &_checkbox-link {
                @include font-16-white;
                vertical-align: bottom;
            }
        }

        &_btn {
            &-link {
                width: 200px;
                height: 50px;
                background-color: #f3cf15;
                border: none;
                outline: none;
                border-radius: 35px;
                @include font-18-red;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: #cbab0a;
                }
            }
        }
    }
}

.main__contact-head_block_checkbox {
    padding-right: 400px;
}

.main__contact::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(175, 18, 18, 0.5);
}

.main__contact-head_line {
    margin-top: 50px;
    @include font-14-red;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 400;
    width: 70%;
    text-align: center;
    position: relative;

    &::before {
        content: " ";
        display: block;
        position: absolute;
        width: calc(100% / 2 - 60px);
        left: 0;
        top: 50%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &::after {
        content: " ";
        display: block;
        position: absolute;
        width: calc(100% / 2 - 60px);
        right: 0;
        top: 50%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &-phone {
        margin-top: 35px;
        @include font-22-white;
    }
}

// ---------------------/checkbox/------------------
.main__contact-head_block_checkbox-input[type="checkbox"] {
    display: none;
}

.main__contact-head_block_checkbox-label {
    color: #000;
    cursor: pointer;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
    background: transparent;
}

.main__contact-head_block_checkbox-label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 16px/20px "FontAwesome";
    margin-right: 10px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #ededed;
    border-radius: 6px;
    border-image: initial;
    vertical-align: middle;
}

.main__contact-head_block_checkbox-input:checked + .main__contact-head_block_checkbox-label:before {
    content: "\f00c";
    background: #fff;
}

.main__contact-head_block_checkbox-input:disabled + .main__contact-head_block_checkbox-label:before {
    background: #eee;
    color: #aaa;
}

.main__contact-head_input-item::placeholder {
    color: rgba(255, 255, 255, 0.4);
    transition: opacity 0.5s linear;
}
// ---------------------/checkbox/------------------
// ---------------------/footer/------------------

.footer {
    padding: 75px 0 65px 0;

    &__col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        line-height: 40px;

        &-item {
            &_link {
                padding: 0 15px;
                @include font-16_black;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &__end {
        margin-top: 20px;
        text-align: center;

        &_text {
            @include font-16-red;
        }
    }
}
// ---------------------------/media/------------------

/* Large desktops and laptops */
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }

    .main__article {
        &_text {
            text-align: center;
        }

        &-photo {
            max-width: 600px;
            margin: 60px auto;

            &_right {
                margin-top: 30px;
            }
        }
    }

    .main__works-gallery {
        padding: 0 50px;
    }

    .main__plan-product_col {
        &-name {
            font-size: 30px;
        }

        &-price {
            font-size: 18px;
        }

        &-ico {
            width: 150px;
            height: 150px;
        }

        &-btn {
            font-size: 20px;
        }

        &-descr {
            font-size: 18px;
        }
    }

    .main__plan-product {
        flex-wrap: wrap;

        &_col {
            margin-top: 30px;
            width: 34%;
        }
    }

    .f-62 {
        font-size: 72px;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .header__menu-link {
        font-size: 20px;

        &-btn {
            font-size: 20px;
            width: 110px;
        }
    }

    .main__works-gallery {
        &_block {
            margin: 50px auto 0 auto;

            &-flex-link {
                font-size: 25px;
            }

            &-flex-sublink {
                font-size: 17px;
            }

            &-img img {
                width: 100%;
            }
        }
    }

    .main__market-block {
        flex-direction: column;
        text-align: center;

        &_text-subtitle {
            font-size: 20px;
        }

        &_img {
            margin-top: 30px;
        }
    }

    .main__market-sell {
        flex-direction: column;
        align-items: center;

        &_unit {
            justify-content: flex-start;
            width: 60%;

            &-price {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-title {
                    font-size: 18px;
                }

                &-subtitle {
                    margin-top: 15px;
                    font-size: 20px;
                }

                &_block-link {
                    width: 80px;
                    height: 50px;
                    font-size: 20px;
                }
            }
        }
    }

    .br-none {
        display: none;
    }

    .main__plan-product {
        flex-wrap: wrap;

        &_col {
            margin-top: 60px;
        }
    }

    .main__contact-head {
        &_input-item {
            width: 90%;
        }

        &_area {
            width: 90%;
        }

        &_block {
            justify-content: center;
            &_checkbox {
                padding-right: 80px;
            }
        }

        .footer__col-item_link {
            font-size: 18px;
        }

        .footer__end_text {
            font-size: 18px;
        }
    }
    /* Landscape phones and portrait tablets */
    @media (max-width: 767px) {
        .container {
            max-width: 700px;
            padding: 0 15px;
        }

        .header {
            padding: 53px 40px 0 40px;
        }

        .subheader__head {
            & h1 {
                font-size: 42px;
            }
            & h3 {
                font-size: 18px;
            }

            &-link {
                font-size: 14px;
            }
        }

        .header__logo {
            margin: 0 auto;
        }

        .header__menu {
            &-link {
                font-size: 22px;
            }
            &-btn {
                font-size: 22px;
                width: 130px;
                height: 50px;
            }
            &-list {
                display: none;
            }
        }

        .main__header {
            &_head {
                font-size: 42px;
            }
            &_text {
                font-size: 16px;
            }
        }

        .main__article-photo {
            width: 100%;

            &_left {
                width: 100%;
                padding: 0 20px;
            }

            &_right {
                width: 100%;
                padding: 0 20px;
                margin-top: 310px;
            }
        }

        .photo__left_col-1,
        .photo__left_col-2,
        .photo__left_col-3,
        .photo__right_col-4,
        .photo__right_col-5,
        .photo__right_col-6 {
            width: 100%;
            margin-right: 0;
            max-height: 350px;
        }

        .photo__left_col-3,
        .photo__right_col-4,
        .photo__right_col-5,
        .photo__right_col-6 {
            margin-top: 30px;
        }

        .main__plan-product_col {
            min-height: 578px;
        }

        .main__presentation-logo_title {
            font-size: 40px;
        }

        .main__works-head_subtitle {
            font-size: 18px;
        }

        .main__wrap {
            margin-top: 500px;
        }

        .main__wrap-benefits {
            flex-direction: column;

            &_col {
                width: 70%;

                &-ico {
                    width: 110px;
                    height: 90px;
                }

                &-span {
                    font-size: 24px;
                }

                &-text {
                    font-size: 18px;
                }
            }
        }

        .main__presentation-logo {
            text-align: center;
        }

        .main__market-block_img-product-img {
            width: 70%;
        }

        .main__market-block_text {
            &-title {
                font-size: 35px;
                line-height: 50px;
                letter-spacing: 0;
            }
        }

        .main__market-sell_unit {
            width: 100%;

            &-price-title {
                font-size: 16px;
            }

            &-price-subtitle {
                font-size: 18px;
            }
        }

        .main__crew-head {
            &_title {
                font-size: 32px;
            }

            &_subtitle {
                font-size: 18px;
                text-align: center;
            }
        }

        .main__crew-body {
            margin: 60px auto 0 auto;
            width: 75%;
            flex-direction: column;

            &-block {
                padding: 40px 0 50px 0;
                width: 100%;
                border-bottom: 2px solid #dedede;
                border-right: none;
            }
        }

        .main__contact-head .main__contact-head {
            &_input {
                flex-direction: column;
            }

            &_title {
                font-size: 32px;
            }

            &_block {
                justify-content: center;
                &_checkbox {
                    padding-right: 40px;
                }
            }
        }

        .footer__col {
            flex-direction: column;

            &-item {
                padding: 20px 0;
            }
        }

        .footer__end_text {
            font-size: 16px;
        }
    }

    /* Portrait phones and smaller */
    @media (max-width: 575px) {
        .container {
            max-width: 480px;
        }

        .subheader__head-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .subheader__head {
            &-input {
                width: 310px;
                height: 50px;
                font-size: 16px;
            }

            &-btn {
                margin: 0;
                margin-top: 20px;
                width: 115px;
                height: 50px;
            }
        }

        .main {
            margin-top: 80px;
        }

        .main__article {
            margin-top: 80px;
        }

        .main__article-photo {
            width: 100%;

            &_left {
                width: 100%;
                padding: 0 20px;
            }

            &_right {
                width: 100%;
                padding: 0 20px;
                margin-top: 310px;
            }
        }

        .photo__left_col-1,
        .photo__left_col-2,
        .photo__left_col-3,
        .photo__right_col-4,
        .photo__right_col-5,
        .photo__right_col-6 {
            width: 100%;
            margin-right: 0;
        }

        .photo__left_col-3,
        .photo__right_col-4,
        .photo__right_col-5,
        .photo__right_col-6 {
            margin-top: 30px;
        }

        .main__wrap {
            margin-top: 450px;
            margin-bottom: 0px;
        }

        .main__works {
            padding-top: 80px;
            padding-bottom: 40px;
        }

        .main__market {
            padding: 50px 0;
        }

        .main__market-block_img-product-img {
            width: 70%;
        }

        .main__market-sell {
            margin-top: 50px;
            &_unit {
                width: 100%;
            }
        }

        .main__frame {
            padding: 10px 20px 95px 20px;
        }

        .main__quote {
            padding: 30px 0;
        }

        .main__plan-product_col {
            width: 100%;
            min-height: 100%;
        }

        .main__crew {
            padding: 105px 15px 100px 15px;

            &-head_subtitle {
                text-align: center;
            }
        }

        .main__contact {
            padding: 60px 0;
        }

        .main__contact-head_block {
            flex-direction: column;
            align-items: center;

            &_checkbox {
                padding-right: 0px;
                padding-bottom: 20px;
            }
        }

        .footer {
            padding: 30px 0 30px 0;
        }
    }

    /* Portrait phones and smaller */
    @media (max-width: 480px) {
        .container {
            max-width: 320px;
        }

        .font-42 {
            font-size: 36px;
        }

        .subheader {
            margin-top: 70px;
            margin-bottom: 80px;
            padding-bottom: 20px;
        }

        .subheader__head {
            & h1 {
                font-size: 35px;
            }

            & h3 {
                font-size: 14px;
            }
        }

        .subheader__head-input {
            width: 100%;
        }

        .main__header_head {
            font-size: 35px;
        }

        .main__wrap-benefits_col {
            &-ico {
                width: 71px;
                height: 61px;
            }

            &-span {
                font-size: 20px;
            }

            &-text {
                font-size: 14px;
            }
        }

        .main__application {
            padding: 60px 0;
        }

        .main__application-input {
            width: 100%;
            height: 45px;
            font-size: 16px;
            padding-left: 10px;
        }

        .main__application-form_btn {
            margin-top: 15px;

            &-btn {
                width: 100%;
                height: 45px;
                font-size: 16px;
            }
        }

        .main__application-form {
            width: 100%;

            &_checkbox {
                justify-content: center;
            }
        }

        .main__application-form_checkbox-link {
            font-size: 12px;
        }

        .main__application-form_text {
            font-size: 15px;
        }

        .main__presentation-logo {
            &_title {
                font-size: 32px;
            }

            &_subtitle {
                font-size: 16px;
            }
        }

        .main__works-gallery_block-flex {
            &-link {
                font-size: 20px;
                text-align: center;
            }

            &-sublink {
                font-size: 14px;
            }
        }

        .main__market-sell_unit-price {
            &-title {
                font-size: 14px;
            }

            &-subtitle {
                font-size: 14px;
            }

            &_block-link {
                width: 70px;
                height: 40px;
                font-size: 18px;
            }
        }

        .main__market-block_text-btn {
            width: 100%;
        }

        .main__market-block_text-subtitle {
            font-size: 17px;
        }

        .main__frame {
            &-btn {
                width: 100%;
            }
            &-title {
                font-size: 42px;
            }
        }

        .main__quote-block_text {
            font-size: 16px;
        }

        .main__plan-title_subtext {
            text-align: center;
        }

        .main__crew-body {
            width: 100%;
        }

        .main__contact-head_btn-link {
            width: 170px;
            height: 45px;
            font-size: 16px;
        }

        .footer__end_text {
            font-size: 14px;
        }
    }
}
